header {
    background-color: grey;
    color: ivory;
    border: 1px solid black;
}

nav {
    text-align: right;
}

main {
    background-color: aquamarine;
}



.figure {
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    width
}